/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Reset margin padding */
* {
    margin: 0;
    padding: 0;
}

/* Shared style start */

.flex {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

.btn {
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: rgba(0, 128, 0, 0.692) !important;
    transition: 1.2s ease;
}

/* Shared style end */
/* Body style start here */
body {
    max-width: 1280px;
    margin: 0 auto;
}

/* Body style end here */
/* nav style start */
nav {
    width: 85%;
    margin: 0 auto;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
}

.nav-start {
    align-items: center;
}

.nav-start h1 {
    font-weight: bold;
    font-size: 32px;
}

.nav-center ul {
    gap: 25px;
}

.nav-center li {
    font-weight: 600;
    font-size: 20px;
}

.nav-end-small {
    width: 30px;
    display: none;
}

.nav-end-small hr {
    height: 1px;
    color: purple;
    margin-bottom: 8px;
}

/* nav style end */
/* hero section start */
.hero {
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    padding: 0 20px;
}

.hero-text h1 {
    font-size: 56px;
    font-weight: 800;
}

.hero-image {
    width: 100%;
}

/* hero section end */
/* Curriculum section start */
.curriculum {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.curriculum-container {
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.curriculum-container h1 {
    padding: 60px 0;
    font-weight: bold;
    font-size: 46px;
}

.curriculum-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 25px;
}

.arrow {
    margin: 50px 0;
}

.btn-a {
    border-radius: 50%;
    padding: 15px 30px;
    font-size: 40px;
    color: white;
    background-color: orange;
    border: none;
}

.btn-a:hover {
    transition: 2s;
    background-color: orangered;
}

/* Curriculum section end */
/* Story section start */
.sss {
    background-image: url(../images/bg.png), linear-gradient(to top, rgba(5, 234, 47, 0.414), rgba(255, 255, 255, 0.996));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.btn-story {
    padding: 12px 24px;
    border-radius: 30px;
    border: none;
    display: block;
    margin-top: -30px;
    margin-left: 30px;
    position: absolute;
    color: white;
    font-size: 24px;
}

.btn-story:hover {
    border: 1px solid;
}

.stories-container {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.big {
    background-color: white;
    border-radius: 25px;
}

.big img {
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 15px;
}

.card img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card h3 {
    font-weight: bold;
    padding: 30px;
}

.sss h1 {
    text-align: center;
    font-weight: bold;
    font-size: 46px;
    margin-bottom: 20px;
}

/* Story section end */
footer {
    background-color: #01ACFD;
}
.m-footer{
    width: 85%;
    margin: 0 auto;
    padding: 50px 0;
}
.education{
    width: 40%;
}
.about-school{
    width: 30%;
}
/* Responsive design start */
@media screen and (max-width:576px) {
    nav {
        width: 95%;
    }

    .nav-center {
        display: none;
    }

    .nav-end {
        display: none;
    }

    .nav-end-small {
        display: block;
    }

    .hero {
        width: 95%;
        flex-wrap: wrap-reverse;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text h1 {
        font-size: 48px;
    }

    .hero-image img {
        width: 90vw;
    }

    .curriculum-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .arrow {
        display: none;
    }

    .big {
        display: none;
    }

    .btn-story {
        padding: 6px 12px;
        margin-top: -18px;
        margin-left: 10px;
        font-size: 16px;
    }
    .stories-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .m-footer{
        display: block;
    }
    .education{
        width: 90%;
        margin: 0 auto;
    }
    .about-school{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .touch{
        width: 90%;
        margin: 0 auto;
    }
}

/* Responsive design end */